*{
    margin: 0;
    padding: 0;
}
.navcol:hover{
    background:  linear-gradient(to bottom right,rgb(214, 13, 23), rgb(8, 238, 58));
    border-radius: 50px;
}

.logo{
    height: 70px;
    width: 70px;
    padding-left: 0px;
}
.heading{
    height: 100vh;
    background-image: url('./images/KIIT-Slider-1-Panoromic-View-.jpg');
    background-size: cover;
   
    
}
#header{
    top: 30%;
    left: 30%;
    text-align: center;
    line-height: 1.5;
    padding-top: 5%;
    
}
.heading-primary{
 
    color: red;
    font-size: 60px;
}
.subheader2{
    display: block;
}
.name{
    color: rgb(224,27,108);
}

